In [1]:
!pip install bs4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in /Users/admin/Library/Python/3.9/lib/python/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4->bs4) (2.5)

In [2]:
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Users/admin/Library/Python/3.9/lib/python/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (2024.6.2)

In [3]:
!pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in /Users/admin/Library/Python/3.9/lib/python/site-packages (5.2.2)

In [2]:
import requests
from bs4 import BeautifulSoup

/Users/admin/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
response = requests.get(url)
response.raise_for_status()

soup = BeautifulSoup(response.text, "lxml")  # html.parser

In [6]:
table = soup.find("table", class_="wikitable")

In [7]:
tbody = table.find("tbody")

In [8]:
gdp = []

for i, tr in enumerate(tbody.find_all("tr")):
    row_data = {}
    for j, td in enumerate(tr.find_all("td")):
        if j == 0:  # 첫 번째 td에서 국가 이름 추출
            a_tag = td.find("a")
            if a_tag:
                row_data["Country"] = a_tag.text.strip()
            else:
                row_data["Country"] = td.text.strip()

        if j == 1 and td.text.strip() != "—":
            row_data["GDP_USD_billion"] = round(
                int(td.text.strip().replace(",", "")) / 1000, 2
            )

        if j == 2 and len(row_data) == 2:
            if len(td.text.strip()) > 4:
                row_data["Year"] = td.text.strip()[-4:]
            elif len(td.text.strip()) == 4:
                row_data["Year"] = td.text.strip()
    if len(row_data) > 1:
        gdp.append(row_data)

for g in gdp:
    g

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from io import StringIO
from etl_project_gdp import *


def make_df():
    log("extract start")
    url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
    response = requests.get(url)
    response.raise_for_status()
    soup = BeautifulSoup(response.text, "html.parser")

    # HTML에서 테이블을 DataFrame으로 읽어오기
    table = soup.find("table", class_="wikitable")
    df = pd.read_html(StringIO(str(table)))[0]  # 첫 번째 테이블만 가져오기

    # 컬럼 이름 설정
    df.columns = [
        "Country",
        "IMF_Forecast",
        "IMF_Year",
        "World_Bank_Estimate",
        "World_Bank_Year",
        "UN_Estimate",
        "UN_Year",
    ]
    df = df[["Country", "IMF_Forecast"]]
    log("extract end")
    return df


# 데이터 전처리 함수 정의
def preprocess_gdp(row):
    data = {}

    # 국가명 처리
    if pd.notna(row["Country"]):
        if row["Country"] != "World":
            data["Country"] = row["Country"]

    # gdp 처리
    if pd.notna(row["IMF_Forecast"]) and row["IMF_Forecast"] != "—":
        data["GDP_USD_billion"] = round(
            int(row["IMF_Forecast"].replace(",", "")) / 1000, 2
        )

    if len(data) > 1:
        return data


def transform_data(preprocess_gdp, df):
    log("transform start")
    gdp_data = df.apply(preprocess_gdp, axis=1).tolist()
    gdp_data = [entry for entry in gdp_data if entry is not None]
    log("transform end")
    return gdp_data


# 크롤링 후, 데이터 전처리 적용
df = make_df()
gdp_data = transform_data(preprocess_gdp, df)


# 결과 출력
# for data in gdp_data:
#     if data:
#         print(data)

/Users/admin/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

 - GDP가 100B USD이상이 되는 국가만을 구해서 화면에 출력해야 합니다.

In [10]:
gdp_over_100B_print(gdp_data)

United States  -  28781.08
China  -  18532.63
Germany  -  4591.1
Japan  -  4110.45
India  -  3937.01
United Kingdom  -  3495.26
France  -  3130.01
Brazil  -  2331.39
Italy  -  2328.03
Canada  -  2242.18
Russia  -  2056.84
Mexico  -  2017.03
Australia  -  1790.35
South Korea  -  1760.95
Spain  -  1647.11
Indonesia  -  1475.69
Netherlands  -  1142.51
Turkey  -  1113.56
Saudi Arabia  -  1106.02
Switzerland  -  938.46
Poland  -  844.62
Taiwan  -  802.96
Belgium  -  655.19
Sweden  -  623.05
Argentina  -  604.26
Ireland  -  564.02
Thailand  -  548.89
Austria  -  540.89
Israel  -  530.66
United Arab Emirates  -  527.8
Norway  -  526.95
Singapore  -  525.23
Philippines  -  471.52
Vietnam  -  465.81
Iran  -  464.18
Bangladesh  -  455.16
Malaysia  -  445.52
Denmark  -  409.99
Hong Kong  -  406.77
Colombia  -  386.08
South Africa  -  373.23
Romania  -  369.97
Egypt  -  347.59
Pakistan  -  338.24
Chile  -  333.76
Czech Republic  -  325.88
Finland  -  308.06
Portugal  -  298.95
Kazakhstan  -  296.74
Peru  -  282.46
Algeria  -  266.78
Iraq  -  265.89
New Zealand  -  257.62
Nigeria  -  252.74
Greece  -  250.28
Qatar  -  244.69
Hungary  -  223.41
Ethiopia  -  205.13
Ukraine  -  188.94
Kuwait  -  160.4
Morocco  -  152.38
Slovakia  -  140.81
Dominican Republic  -  127.36
Ecuador  -  121.59
Puerto Rico  -  117.76
Guatemala  -  110.03
Oman  -  108.93
Bulgaria  -  107.93
Kenya  -  104.0
Venezuela  -  102.33

 - 추출 (Extract)한 정보는 'Countries_by_GDP.json'라는 이름의 JSON 화일 포맷으로 저장해야 합니다.

In [11]:
gdp_to_json(gdp_data)

- 추출한 데이터를 데이터베이스에 저장하세요. 'Countries_by_GDP'라는 테이블명으로 'World_Economies.db'라는 데이터 베이스에 저장되어야 합니다. 
- 해당 테이블은 'Country', 'GDP_USD_billion'라는 어트리뷰트를 반드시 가져야 합니다.

In [13]:
from etl_project_gdp_with_sql import *

create_table()
delete_table()
insert_data_to_table(gdp_data)
data = select_all_data()
for d in data:
    print(d)

(1, 'United States', 28781.08)
(2, 'China', 18532.63)
(3, 'Germany', 4591.1)
(4, 'Japan', 4110.45)
(5, 'India', 3937.01)
(6, 'United Kingdom', 3495.26)
(7, 'France', 3130.01)
(8, 'Brazil', 2331.39)
(9, 'Italy', 2328.03)
(10, 'Canada', 2242.18)
(11, 'Russia', 2056.84)
(12, 'Mexico', 2017.03)
(13, 'Australia', 1790.35)
(14, 'South Korea', 1760.95)
(15, 'Spain', 1647.11)
(16, 'Indonesia', 1475.69)
(17, 'Netherlands', 1142.51)
(18, 'Turkey', 1113.56)
(19, 'Saudi Arabia', 1106.02)
(20, 'Switzerland', 938.46)
(21, 'Poland', 844.62)
(22, 'Taiwan', 802.96)
(23, 'Belgium', 655.19)
(24, 'Sweden', 623.05)
(25, 'Argentina', 604.26)
(26, 'Ireland', 564.02)
(27, 'Thailand', 548.89)
(28, 'Austria', 540.89)
(29, 'Israel', 530.66)
(30, 'United Arab Emirates', 527.8)
(31, 'Norway', 526.95)
(32, 'Singapore', 525.23)
(33, 'Philippines', 471.52)
(34, 'Vietnam', 465.81)
(35, 'Iran', 464.18)
(36, 'Bangladesh', 455.16)
(37, 'Malaysia', 445.52)
(38, 'Denmark', 409.99)
(39, 'Hong Kong', 406.77)
(40, 'Colombia', 386.08)
(41, 'South Africa', 373.23)
(42, 'Romania', 369.97)
(43, 'Egypt', 347.59)
(44, 'Pakistan', 338.24)
(45, 'Chile', 333.76)
(46, 'Czech Republic', 325.88)
(47, 'Finland', 308.06)
(48, 'Portugal', 298.95)
(49, 'Kazakhstan', 296.74)
(50, 'Peru', 282.46)
(51, 'Algeria', 266.78)
(52, 'Iraq', 265.89)
(53, 'New Zealand', 257.62)
(54, 'Nigeria', 252.74)
(55, 'Greece', 250.28)
(56, 'Qatar', 244.69)
(57, 'Hungary', 223.41)
(58, 'Ethiopia', 205.13)
(59, 'Ukraine', 188.94)
(60, 'Kuwait', 160.4)
(61, 'Morocco', 152.38)
(62, 'Slovakia', 140.81)
(63, 'Dominican Republic', 127.36)
(64, 'Ecuador', 121.59)
(65, 'Puerto Rico', 117.76)
(66, 'Guatemala', 110.03)
(67, 'Oman', 108.93)
(68, 'Bulgaria', 107.93)
(69, 'Kenya', 104)
(70, 'Venezuela', 102.33)
(71, 'Uzbekistan', 97.96)
(72, 'Costa Rica', 96.06)
(73, 'Angola', 92.12)
(74, 'Luxembourg', 88.56)
(75, 'Croatia', 88.08)
(76, 'Panama', 87.35)
(77, 'Ivory Coast', 86.91)
(78, 'Uruguay', 82.61)
(79, 'Turkmenistan', 81.9)
(80, 'Serbia', 81.87)
(81, 'Lithuania', 81.17)
(82, 'Tanzania', 79.61)
(83, 'Azerbaijan', 78.75)
(84, 'Ghana', 75.24)
(85, 'Sri Lanka', 74.85)
(86, 'DR Congo', 73.76)
(87, 'Slovenia', 72.1)
(88, 'Belarus', 69.05)
(89, 'Myanmar', 68.01)
(90, 'Uganda', 56.31)
(91, 'Tunisia', 54.71)
(92, 'Macau', 54.68)
(93, 'Jordan', 53.57)
(94, 'Cameroon', 53.2)
(95, 'Bolivia', 49.33)
(96, 'Libya', 48.22)
(97, 'Bahrain', 46.79)
(98, 'Paraguay', 45.82)
(99, 'Latvia', 45.47)
(100, 'Cambodia', 45.15)
(101, 'Nepal', 44.18)
(102, 'Estonia', 43.49)
(103, 'Honduras', 37.35)
(104, 'Senegal', 35.45)
(105, 'El Salvador', 35.33)
(106, 'Zimbabwe', 34.41)
(107, 'Cyprus', 34.22)
(108, 'Iceland', 33.34)
(109, 'Georgia', 32.87)
(110, 'Papua New Guinea', 31.72)
(111, 'Zambia', 29.87)
(112, 'Bosnia and Herzegovina', 29.08)
(113, 'Trinidad and Tobago', 28.36)
(114, 'Sudan', 26.86)
(115, 'Guinea', 25.45)
(116, 'Albania', 25.43)
(117, 'Armenia', 25.41)
(118, 'Haiti', 24.05)
(119, 'Mozambique', 22.98)
(120, 'Malta', 22.74)
(121, 'Mongolia', 21.94)
(122, 'Burkina Faso', 21.9)
(123, 'Lebanon', 21.78)
(124, 'Mali', 21.66)
(125, 'Botswana', 21.42)
(126, 'Benin', 21.37)
(127, 'Guyana', 21.18)
(128, 'Gabon', 21.01)
(129, 'Jamaica', 20.1)
(130, 'Nicaragua', 18.83)
(131, 'Niger', 18.82)
(132, 'Chad', 18.7)
(133, 'Palestine', 18.6)
(134, 'Moldova', 18.36)
(135, 'Yemen', 16.94)
(136, 'Madagascar', 16.46)
(137, 'Mauritius', 16.36)
(138, 'North Macedonia', 15.87)
(139, 'Brunei', 15.51)
(140, 'Congo', 15.5)
(141, 'Laos', 15.19)
(142, 'Afghanistan', 14.47)
(143, 'Bahamas', 14.39)
(144, 'Rwanda', 13.7)
(145, 'Kyrgyzstan', 13.6)
(146, 'Tajikistan', 12.95)
(147, 'Somalia', 12.8)
(148, 'Namibia', 12.77)
(149, 'Kosovo', 11.32)
(150, 'Malawi', 11.24)
(151, 'Equatorial Guinea', 10.71)
(152, 'Mauritania', 10.63)
(153, 'Togo', 9.83)
(154, 'Montenegro', 8.01)
(155, 'Maldives', 7.2)
(156, 'Barbados', 6.86)
(157, 'South Sudan', 6.52)
(158, 'Fiji', 5.8)
(159, 'Eswatini', 5.08)
(160, 'Liberia', 4.75)
(161, 'Sierra Leone', 4.56)
(162, 'Djibouti', 4.36)
(163, 'Suriname', 4.34)
(164, 'Aruba', 4.07)
(165, 'Andorra', 3.9)
(166, 'Belize', 3.3)
(167, 'Bhutan', 3.11)
(168, 'Burundi', 3.08)
(169, 'Central African Republic', 2.81)
(170, 'Cape Verde', 2.72)
(171, 'Gambia', 2.69)
(172, 'Saint Lucia', 2.58)
(173, 'Lesotho', 2.4)
(174, 'Seychelles', 2.2)
(175, 'Guinea-Bissau', 2.15)
(176, 'Antigua and Barbuda', 2.13)
(177, 'San Marino', 2.03)
(178, 'East Timor', 1.99)
(179, 'Solomon Islands', 1.71)
(180, 'Comoros', 1.42)
(181, 'Grenada', 1.41)
(182, 'Vanuatu', 1.29)
(183, 'Saint Kitts and Nevis', 1.13)
(184, 'Saint Vincent and the Grenadines', 1.13)
(185, 'Samoa', 1.02)
(186, 'São Tomé and Príncipe', 0.75)
(187, 'Dominica', 0.71)
(188, 'Tonga', 0.58)
(189, 'Micronesia', 0.48)
(190, 'Kiribati', 0.31)
(191, 'Palau', 0.31)
(192, 'Marshall Islands', 0.3)
(193, 'Nauru', 0.16)
(194, 'Tuvalu', 0.07)

In [14]:
from etl_project_gdp_with_sql import select_gdp_over_100B


over_100B_data = select_gdp_over_100B()
for data in over_100B_data:
    print(data)

(1, 'United States', 28781.08)
(2, 'China', 18532.63)
(3, 'Germany', 4591.1)
(4, 'Japan', 4110.45)
(5, 'India', 3937.01)
(6, 'United Kingdom', 3495.26)
(7, 'France', 3130.01)
(8, 'Brazil', 2331.39)
(9, 'Italy', 2328.03)
(10, 'Canada', 2242.18)
(11, 'Russia', 2056.84)
(12, 'Mexico', 2017.03)
(13, 'Australia', 1790.35)
(14, 'South Korea', 1760.95)
(15, 'Spain', 1647.11)
(16, 'Indonesia', 1475.69)
(17, 'Netherlands', 1142.51)
(18, 'Turkey', 1113.56)
(19, 'Saudi Arabia', 1106.02)
(20, 'Switzerland', 938.46)
(21, 'Poland', 844.62)
(22, 'Taiwan', 802.96)
(23, 'Belgium', 655.19)
(24, 'Sweden', 623.05)
(25, 'Argentina', 604.26)
(26, 'Ireland', 564.02)
(27, 'Thailand', 548.89)
(28, 'Austria', 540.89)
(29, 'Israel', 530.66)
(30, 'United Arab Emirates', 527.8)
(31, 'Norway', 526.95)
(32, 'Singapore', 525.23)
(33, 'Philippines', 471.52)
(34, 'Vietnam', 465.81)
(35, 'Iran', 464.18)
(36, 'Bangladesh', 455.16)
(37, 'Malaysia', 445.52)
(38, 'Denmark', 409.99)
(39, 'Hong Kong', 406.77)
(40, 'Colombia', 386.08)
(41, 'South Africa', 373.23)
(42, 'Romania', 369.97)
(43, 'Egypt', 347.59)
(44, 'Pakistan', 338.24)
(45, 'Chile', 333.76)
(46, 'Czech Republic', 325.88)
(47, 'Finland', 308.06)
(48, 'Portugal', 298.95)
(49, 'Kazakhstan', 296.74)
(50, 'Peru', 282.46)
(51, 'Algeria', 266.78)
(52, 'Iraq', 265.89)
(53, 'New Zealand', 257.62)
(54, 'Nigeria', 252.74)
(55, 'Greece', 250.28)
(56, 'Qatar', 244.69)
(57, 'Hungary', 223.41)
(58, 'Ethiopia', 205.13)
(59, 'Ukraine', 188.94)
(60, 'Kuwait', 160.4)
(61, 'Morocco', 152.38)
(62, 'Slovakia', 140.81)
(63, 'Dominican Republic', 127.36)
(64, 'Ecuador', 121.59)
(65, 'Puerto Rico', 117.76)
(66, 'Guatemala', 110.03)
(67, 'Oman', 108.93)
(68, 'Bulgaria', 107.93)
(69, 'Kenya', 104)
(70, 'Venezuela', 102.33)

In [2]:
def countries_by_continent():
    url = "https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")

    # HTML에서 테이블을 DataFrame으로 읽어오기
    table = soup.find_all("table", {"class": "sortable"})
    africa_rows = table[0].find_all("tr")
    asia_rows = table[1].find_all("tr")
    europe_rows = table[2].find_all("tr")
    north_america_rows = table[3].find_all("tr")
    oceania_rows = table[4].find_all("tr")
    south_america_rows = table[5].find_all("tr")

    africa = each_continent(africa_rows)
    asia = each_continent(asia_rows)
    europe = each_continent(europe_rows)
    north_america = each_continent(north_america_rows)
    oceania = each_continent(oceania_rows)
    south_america = each_continent(south_america_rows)

    return africa, asia, europe, north_america, oceania, south_america


def each_continent(rows):
    data = []
    for row in rows[3:]:
        cols = row.find_all("td")
        if cols[0].find("a"):
            country = cols[0].find("a")
            country = country.text.strip()
            data.append(country)
    return data


africa, asia, europe, north_america, oceania, south_america = countries_by_continent()

In [3]:
for data in gdp_data:
    if data["Country"] in africa:
        data["Region"] = "Africa"
    elif data["Country"] in asia:
        data["Region"] = "Asia"
    elif data["Country"] in europe:
        data["Region"] = "Europe"
    elif data["Country"] in north_america:
        data["Region"] = "North America"
    elif data["Country"] in oceania:
        data["Region"] = "Oceania"
    elif data["Country"] in south_america:
        data["Region"] = "South America"

In [4]:
for data in gdp_data:
    if "Region" not in data:
        if data["Country"] == "South Korea":
            data["Region"] = "Asia"
        elif data["Country"] == "DR Congo":
            data["Region"] = "Africa"
        elif data["Country"] == "Congo":
            data["Region"] = "Africa"
        elif data["Country"] == "Bahamas":
            data["Region"] = "North America"
        elif data["Country"] == "Gambia":
            data["Region"] = "Africa"

In [5]:
df = pd.DataFrame(gdp_data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          194 non-null    object
 1   GDP_USD_billion  194 non-null    float64
 2   Region           194 non-null    object
dtypes: float64(1), object(2)
memory usage: 4.7+ KB

In [6]:
top5_per_region = (
    df.groupby("Region")
    .apply(lambda x: x.nlargest(5, "GDP_USD_billion"))
    .reset_index(drop=True)
)  # reset_index -> 인덱스 재정의, drop=True면 기존 인덱스는 삭제
top5_per_region

/var/folders/14/2vn0vwzj29zb97jgpbhnrr_00000gn/T/ipykernel_23818/2141019078.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Region")

               Country  GDP_USD_billion         Region
0         South Africa           373.23         Africa
1                Egypt           347.59         Africa
2              Algeria           266.78         Africa
3              Nigeria           252.74         Africa
4             Ethiopia           205.13         Africa
5                China         18532.63           Asia
6                Japan          4110.45           Asia
7                India          3937.01           Asia
8               Russia          2056.84           Asia
9          South Korea          1760.95           Asia
10             Germany          4591.10         Europe
11      United Kingdom          3495.26         Europe
12              France          3130.01         Europe
13               Italy          2328.03         Europe
14               Spain          1647.11         Europe
15       United States         28781.08  North America
16              Canada          2242.18  North America
17              Mexico          2017.03  North America
18  Dominican Republic           127.36  North America
19         Puerto Rico           117.76  North America
20           Australia          1790.35        Oceania
21         New Zealand           257.62        Oceania
22    Papua New Guinea            31.72        Oceania
23                Fiji             5.80        Oceania
24     Solomon Islands             1.71        Oceania
25              Brazil          2331.39  South America
26           Argentina           604.26  South America
27            Colombia           386.08  South America
28               Chile           333.76  South America
29                Peru           282.46  South America

In [7]:
average_gdp_per_region = (
    top5_per_region.groupby("Region")["GDP_USD_billion"].mean().reset_index()
)
average_gdp_per_region

          Region  GDP_USD_billion
0         Africa          289.094
1           Asia         6079.576
2         Europe         3038.302
3  North America         6657.082
4        Oceania          417.440
5  South America          787.590

In [134]:
from etl_project_gdp_with_sql import alert_new_column_region

alert_new_column_region()

In [8]:
from etl_project_gdp_with_sql import insert_region_data_to_table, delete_table

delete_table()
insert_region_data_to_table(df)

In [8]:
from etl_project_gdp_with_sql import select_gdp_top5_each_region

select_gdp_top5_each_region()

[('Africa', 289.09399999999994),
 ('Asia', 6079.576000000001),
 ('Europe', 3038.3020000000006),
 ('North America', 6657.082),
 ('Oceania', 417.43999999999994),
 ('South America', 787.5899999999999)]